@{
    ViewBag.Title = "Home";
}
@section TitleSection{
    <div id="page-title">
        <h1 class="page-header text-overflow">Welcome</h1>
    </div>
}
@section BreadcrumbSection{
    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>
}
@section StyleSection{}
@section ScriptSection{}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">ReadMe</h3>
    </div>
    <div class="panel-body">
        <p>This is a demo application by <strong>Lee Irving Barlin</strong></p>
        <p class="text-main text-semibold">Specifications</p>
        <table class="table">
            <tr>
                <td>.Net Framework</td>
                <td>4.5.2</td>
            </tr>
            <tr>
                <td>ASP.NET MVC</td>
                <td>5</td>
            </tr>
            <tr>
                <td>IIS Express URL</td>
                <td>http://localhost:51725/</td>
            </tr>
            <tr>
                <td>Database Name</td>
                <td>SkillsTest</td>
            </tr>
        </table>
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Frameworks & Libraries</h3>
    </div>
    <div class="panel-body">
        <p class="text-main text-semibold">.Net Framework</p>
        <p>.NET Framework (pronounced dot net) is a software framework developed by Microsoft that runs primarily on Microsoft Windows. It includes a large class library known as Framework Class Library (FCL) and provides language interoperability (each language can use code written in other languages) across several programming languages. Programs written for .NET Framework execute in a software environment (as contrasted to hardware environment) known as Common Language Runtime (CLR), an application virtual machine that provides services such as security, memory management, and exception handling. (As such, computer code written using .NET Framework is called "managed code".) FCL and CLR together constitute .NET Framework.</p>

        <p class="text-main text-semibold">ASP.NET MVC 5</p>
        <p>A framework for building scalable, standards-based web applications using well-established design patterns and the power of ASP.NET and the .NET Framework. ... Or, install ASP.NET MVC 5 support for Visual Studio 2012.</p>

        <p class="text-main text-semibold">OWIN</p>
        <p>OWIN (Open Web Interface for .NET) is a standard for an interface between .NET Web applications and Web servers. It is a community-owned open-source project. ... OWIN aims to decouple the relationship between ASP.NET applications and IIS by defining a standard interface.</p>

        <p class="text-main text-semibold">Unity.Mvc5</p>
        <p>Unity.Mvc5 is a library that allows simple Integration of Microsoft's Unity IoC container with ASP.NET MVC 5. It is an update of the popular Unity.Mvc3 package, updated to target .NET 4.5, MVC5 and Unity 3.0.</p>

        <p class="text-main text-semibold">Bootstrap CSS</p>
        <p>Bootstrap is a free and open-source front-end web framework for designing websites and web applications. It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions.</p>

        <p class="text-main text-semibold">jQuery</p>
        <p>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.</p>

        <p class="text-main text-semibold">EntityFramework</p>
        <p>Entity Framework (EF) is an object-relational mapper that enables .NET developers to work with relational data using domain-specific objects. It eliminates the need for most of the data-access code that developers usually need to write.</p>

        <p class="text-main text-semibold">BCrypt.Net</p>
        <p>A .Net port of jBCrypt implemented in C#. It uses a variant of the Blowfish encryption algorithm’s keying schedule, and introduces a work factor, which allows you to determine how expensive the hash function will be, allowing the algorithm to be "future-proof".</p>

        <p class="text-main text-semibold">RecaptchaNet</p>
        <p>reCAPTCHA for .NET allows a developer to easily integrate Google's reCAPTCHA service (the most popular captcha control used by millions of sites) in an ASP.NET Web Forms or ASP.NET MVC web application.</p>
    </div>
</div>