<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | SkillsTest</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/nifty.min.css" rel="stylesheet">
    <link href="~/content/css/themes/type-a/theme-light.min.css" rel="stylesheet" />
    <link href="~/content/themify-icons/themify-icons.min.css" rel="stylesheet">
    <link href="~/content/css/pace.min.css" rel="stylesheet">
    <link href="~/content/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <script src="~/scripts/pace.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/scripts/nifty.min.js"></script>
    <script src="~/scripts/abcidee.js"></script>
</body>
</html>
